.embed-container {
  // position: relative;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  .property-map--wrapper & {
    position: relative;
    padding-right: 1em;
    height: 540px;

    a {
      color: #3b444f;
      text-decoration: none;
    }

    .tg-table-plain {
      float: left;
    }

    .tg-table-plain.ui-tabs-panel {
      padding: 10px 0;
    }

    img.info-window-thumb {
      width: 150px;
      height: 100px;
    }

    .gmap-popup-bold {
      font-weight: bold;
    }

    #gmap-address{
      color: $generic-primary-color-dark;
    }

    #gmap-popup-tab{
      border-top: 1px solid #808080;
      padding-top: 5px;
    }
  }
}

.embed-container iframe,
.embed-container object,
.embed-container embed,
.embed-container > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed-container img {
  max-width: none;
}

div.gm-style-iw {
  width: 300px;
  min-height: 140px;
  overflow-x: visible;
  overflow-y: visible;
}

li.popup-tab-li {
  width: auto;
}

ul.ui-tabs-nav li.popup-tab-li {
  max-width: 94px;
}

#gmap-image {
  width: 150px;
  height: 100px;
  float: left;
  border: 1px solid #eee;
  margin-top: 5px;
}

.tg-table-plain {
  float: left;
}

.tg-table-plain.ui-tabs-panel {
  padding: 10px 0;
}

.property_on_sight_result {
  left: 0;
  position: absolute;
  top: 50px;
}