/*----- Menu ----*/

.nav--top__faux {
  // background: #fafbfc;
  @include linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8));
  //border-top: 8px solid #eb1c23;
  height: 100px;
  left: 0;
  top: 0;
  right: 0;

  &:after {
    //background: url($template-path + "images/ui/menu_shadow.png") no-repeat center bottom;
    top: 42px;
    position: absolute;
    content: '';
    height: 15px;
    left: 0;
    right: 0;
  }

  @media #{$small-only} {
    height: 60px;
    border-bottom: solid 1px $generic-grey-color-light;
  }

  @media #{$large-up} {
    &.block {
      height: 130px;
    }
  }
}

.nav--top {
  z-index: 10000;
  top: 0;
  overflow: hidden;
  right: -240px;
  width: 240px;
  height: 100%;
  position: absolute;
  background-color: $generic-primary-color-dark;

  @media #{$large-up} {
    width: 100%;
    background-color: transparent;
    overflow: visible;
    height: auto;
    right: auto;
    z-index: 10000;
    position: absolute;

    &.block {
      top: 80px;
      background: $generic-primary-color-dark;
    }
  }
}

.nav--top__wrapper {
  @include grid-row();
  background-color: $generic-primary-color-dark;

  @media #{$large-up} {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: transparent;

    body.home &,
    body.map &,
    body.offices &,
    body.agents & {
      border-radius: 10px;
    }

    body.home & {
      background: none;
    }
  }

}

.nav--main {
  white-space: nowrap;
  float: none;
  margin: 0;
  padding: 0 0 20px;
  text-align: right;

  @media #{$large-up} {
    text-align: right;
    margin: 0;
    display: block;
    padding: 0;
    line-height: 100px;

    &.block {
      line-height: 50px;
      
      .nav__item a {
        color: #eee;

        &:hover {
          color: $generic-primary-color-light;
        }
      }

      .nav__item.active a {
        color: $generic-primary-color-light;
      }

      .nav--child {
        .nav__item a {
          color: #333;
        }
      }

      .nav__item.lang {
        position: relative;
        float: right;
      }
    }
  }
}

.nav--main .nav__item {

  display: block;
  font-size: 20px;

  a {
    display: block;
    padding: 17px 10px;
    padding-left: 20px;
    bottom: auto;
    color: #fff;
    @include transition(all 0.3s ease);

    &:hover {
      background: $generic-primary-color-medium;
      color: #fff;
    }
  }

  &:last-child a {

  }

  .nav--child {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    margin: 0;
    top: 0;
    background: $generic-primary-color-dark;
    -webkit-transform: translateX(240px);
    -ms-transform: translateX(240px);
    transform: translateX(240px);
    display: block;
    border: none;
    @include transition(transform 0.4s ease);

    .nav__item {
      display: block;
      background: $generic-primary-color-dark;
      font-size: 1.6em;

      a {
        border: none;
      }
    }
  }

  @media #{$large-up} {
    font-size: 15px;
    list-style: none;
    display: inline-block;
    //height: 100px;
    //line-height: 100px;
    // text-transform: uppercase;
    position: relative;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    margin-left: -1px;
    z-index: 999;

    body.home & {

    }

    &.active {
      // border-bottom: solid 2px $generic-primary-color-dark;
    }

    &:hover {
      // border-bottom: solid 2px $generic-primary-color-medium;
    }

    &:hover a:after {
      opacity: 0;
    }

    &.active a {
      background: none;
      color: $generic-primary-color-dark;
    }

    a {
      display: inline-block;
      //height: 100px;
      bottom: 0;
      padding: 0 25px;
      color: $generic-grey-color-medium;
      position: relative;
      margin-left: -1px;
      margin-right: 1px;
      // font-weight: bold;
      @include transition(all 0.3s ease);

      &:hover {
        background: none;
        color: $generic-primary-color-medium;
      }

      &:after {
        position: absolute;
        width: 1px;
        content: '';
        display: inline-block;
        right: -2px;
        top: 0;
        bottom: 0;
        margin: 13px 0 12px;
        opacity: 1;
      }

    }

    &.parent {

    }

    .nav--child {
      width: auto;
      height: auto;
      top: auto;
      display: none;
      position: absolute;
      margin: 0;
      border: 1px solid #bcbcbc;
      border-top: 0;
      margin-left: -1px;
      z-index: 7000;
      border-bottom-left-radius: $border-radius-button;
      -webkit-border-bottom-left-radius: $border-radius-button;
      border-bottom-right-radius: $border-radius-button;
      -webkit-border-bottom-right-radius: $border-radius-button;
      overflow: hidden;

      .nav__item {
        display: block;
        background: #fff;
        font-size: 14px;
        white-space: nowrap;
        margin-left: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        text-align: left;
        height: 3em;
        line-height: 3em;
        // text-transform: uppercase;

        &:hover {
          border-bottom: none;
        }

        &.active {
          background: $generic-primary-color-medium;
          border-bottom: none;
          color: #fff;
        }

        &.active a {
          color: #fff;
        }

        a {
          display: block;
          padding: 0 5em 0 15px;
          border-top: 1px solid #bcbcbc;
          margin: 0;
          font-weight: normal;
          height: 3em;
          line-height: 3em;

          &:hover {
            background: $generic-primary-color-medium;
            color: #fff;
          }

          &:after {
            display: none;
          }
        }
      }
    }

    &:hover > .nav--child {
      display: block;
    }

    &:first-child a {

    }
    &:nth-last-child(1) a:after,
    &:last-child a:after {
      display: none;
    }
  }

  &:hover > .nav--child {
    display: block;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }

}

.child--toggle {
  display: block;
  position: absolute;
  z-index: 1;
  left: 15px;

  i {
    font-size: 2rem;
    color: #fff;
    line-height: 2rem;
    padding: 0.5em;
    border: solid 1px $generic-primary-color-medium;
    margin: 10px 0;
    cursor: pointer;

  }

  :hover {
    background: $generic-primary-color-medium;
  }

  @media #{$large-up} {
    display: none;
  }
}

.nav--mobile__toggle {
  z-index: 99999;
  color: #fff;
  display: block;
  top: 11px;
  right: 20px;
  width: 35px;
  height: 35px;
  position: absolute;
  cursor: pointer;

  box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px inset, rgba(255, 255, 255, 0.0745098) 0 1px 0 0;

  background: $generic-primary-color-dark;
  -webkit-border-radius: $border-radius-button;
  -moz-border-radius: $border-radius-button;
  border-radius: $border-radius-button;
  outline: rgb(255, 255, 255) none 0;

  &:hover {
    background: darken($generic-primary-color-dark, 5);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .3);
  }

  span, span:before, span:after {
    box-shadow: rgba(0, 0, 0, 0.247059) 0 1px 0 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    height: 2px;
    background: #f5f5f5;
    border: 0 none #fff;
    border-radius: 1px;
    outline: #fff none 0;
    margin-top: 0;

    position: absolute;
    top: 8px;
    left: 5px;
    right: 5px;
  }

  span {
    &:before, &:after {
      content: '';
      left: 0;
      right: 0;
    }

    &:before {
      top: 7px;
    }

    &:after {
      top: 14px;
    }
  }

  @media #{$large-up} {
    display: none;
  }
}

.nav--mobile__toggle__login {
  z-index: 99999;
  color: #fff;
  display: block;
  top: 11px;
  right: 60px;
  width: 35px;
  height: 35px;
  position: absolute;
  cursor: pointer;

  box-shadow: rgba(255, 255, 255, 0.0980392) 0 1px 0 0 inset, rgba(255, 255, 255, 0.0745098) 0 1px 0 0;

  background: $generic-primary-color-dark;
  -webkit-border-radius: $border-radius-button;
  -moz-border-radius: $border-radius-button;
  border-radius: $border-radius-button;
  outline: rgb(255, 255, 255) none 0;

  &:hover {
    background: darken($generic-primary-color-dark, 5);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .3);
  }

  i, i:before, i:after {
    color: #fff;
    display: block;
    outline: #fff none 0;
    margin-top: 0;
    font-size: 18px;
    position: absolute;
    top: 5px;
    left: 6px;
    right: 6px;
  }

  @media #{$large-up} {
    display: none;
  }
}

main,
.logo-header-wrapper,
.nav--mobile__toggle,
.nav--mobile__toggle__login,
.child--toggle,
.nav--top__faux,
.nav--top,
div .top-logo,
.main-content,
.header,
.wrapper--footer {
  @include transition(transform 0.4s ease);
}

#nav--mobile__toggle {
  &:checked ~ main,
  &:checked ~ .logo-header-wrapper,
  &:checked ~ .nav--mobile__toggle,
  &:checked ~ .nav--mobile__toggle__login,
  &:checked ~ .child--toggle,
  &:checked ~ .nav--top,
  &:checked ~ .nav--top__faux,
  &:checked ~ div .top-logo,
  &:checked ~ .main-content,
  &:checked ~ .header,
  &:checked ~ .wrapper--footer {

    -webkit-transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    transform: translateX(-240px);

    @media #{$large-up}{
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }
}

.top-menu {
  line-height: 80px;

  .nav {
    position: relative;
    height: auto;
    line-height: 80px;
    bottom: 0;

    &.menu {
      list-style: none;

      li {
        float: left;
        text-align: left;
        margin-right: 1.4em;
      }
    }
  }

  &.phone {
    margin-left: 1em;
    padding-left: 1em;
    border-left: solid 1px #eee;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
  }

  p {
    font-size: 18px;
    line-height: 40px;
    cursor: default;
  }

  @media #{$small-only}{
    &.large-only,
    a.large-only {
      display: none;
    }
  }

  @media #{$medium-only}{
    &.large-only,
    a.large-only {
      display: none;
    }
  }
}