/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

$template-path: "../../templates/generic/";
$generic-primary-color-dark: #293642;
$generic-primary-color-medium: #415569;
$generic-primary-color-light: #81A7CF;

$generic-grey-color-light: #f2f2f2;
$generic-grey-color-medium: #838383;
$generic-grey-color-dark: #636363;

$generic-success: #88bb41;
$generic-warning: #f8bd0a;
$generic-error: #ff1344;

$border-radius: 3px;
$border-radius-button: 3px;
$search-opacity: 1;