<!-- THIS IS USED IN LIST AND MAP PAGE -->
<form ng-submit="filterSidebarModule()">

    <div ng-show="searchfilter.office_id">
        <span class="search-filters__slider-label"><?php echo JText::_('Office') ?>
            {{ searchfilter.office_name }}</span>
    </div>
    <div ng-show="searchfilter.sale_id">
        <span class="search-filters__slider-label"><?php echo JText::_('Agent') ?> {{ searchfilter.sale_name }}</span>
    </div>

    <div class="search-filters--sidebar--row">
        <div class="input-textbox--wrapper">
            <input type="text" ng-model="searchfilter.text" placeholder="<?php echo JText::_('SEARCH HOMES')?>"/>
        </div>
    </div>

    <div class="search-filters--sidebar--row row collapse">
        <div class="column large-12">
            <div class="search-filters__buy-rent--button left" ng-class="searchfilter.type_id == 2 ? 'active' : ''"
                 ng-click="searchfilter.type_id = 2"><?php echo JText::_('Sale') ?></div>
        </div>
        <div class="column large-12">
            <div class="search-filters__buy-rent--button right" ng-class="searchfilter.type_id == 3 ? 'active' : ''"
                 ng-click="searchfilter.type_id = 3"><?php echo JText::_('Rent')?></div>
        </div>
    </div>

    <filter-slider-price></filter-slider-price>

    <filter-slider-rooms></filter-slider-rooms>

    <postal-code-select-sidebar></postal-code-select-sidebar>

    <div class="search-filters--sidebar--row">
        <prop-categories-select-sidebar></prop-categories-select-sidebar>
    </div>

    <?php if (defined('__COUNTRY') && __COUNTRY == 'IS') { ?>
    <?php } else { ?>
    <transport-select></transport-select>
    <?php } ?>

    <div class="search-filters--sidebar--row">
        <filter-currency></filter-currency>
    </div>



    <div class="search-filters--sidebar--row row collapse">
        <div class="column large-15">
            <input type="submit" value="<?php echo JText::_('SEARCH')?>" class="input-submit red"/>
        </div>
        <div class="column large-8">
            <input type="button" value="<?php echo JText::_('CLEAR')?>" ng-click="resetfilters()" class="input-submit"/>
        </div>
    </div>

</form>