<div class="large-12 column no-pad-left">
	<div class="input-textbox--wrapper">
		<select ng-model="searchfilter.region_id" ng-options="region.id as region.name for region in postal_code_tree.regions">
			<option value="" selected default><?php echo JText::_('PROVINCE') ?></option>
		</select>
	</div>
</div>

<div class="large-12 column no-pad-right">
  <div class="input-textbox--wrapper">
  	<select ng-model="searchfilter.city_town_id" ng-options="town.id as town.name for town in postal_code_tree.towns | filter:filterTown">
	  	<option value="" selected default><?php echo JText::_('DISTRICT') ?></option>
  	</select>
  </div>
</div>