/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

$template-path: "../../templates/generic_override/";
$generic-primary-color-dark: #293642;
$generic-primary-color-medium: #415569;
$generic-primary-color-light: #81A7CF;

$generic-grey-color-light: #f2f2f2;
$generic-grey-color-light-75percent: rgba(242, 242, 242, 0.75);
$generic-grey-color-medium: #838383;
$generic-grey-color-dark: #636363;

$generic-success: #88bb41;
$generic-warning: #f8bd0a;
$generic-error: #ff1344;